# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la

# Executables
*.exe
*.out
*.app

./lib/irrlicht/*
./bin/
./idea/
./Debug
.vs
build
include/Configuration.h
irrlicht
resources/generated/*
